{% extends 'app1/base.html' %}
{% load i18n %}
{% block subtitle %}{{ g_blog.title }}{% endblock %}

{% block extra-head %}
<meta name="keywords" content="{{ g_blog.title }},{{ g_blog.keywords }}" />
<meta name="description" content="{{ g_blog.description }}" />
{% endblock %} 

{% block content_main %}
<div class="yui-b" id="conmain_index">
<div class="yui-g">



</div>
<div class="yui-g">
{%for cate in all_categories|slice:":8"%}
{% if forloop.counter|divisibleby:2 %}
    <div class="yui-u ">
    </div>
    <div class="yui-u first ">
    </div>    
{%endif%}
{%endfor%}
</div>

</div>

{% endblock %}
